#card{
    border: black 1px solid;
    height: 100px;
    width: 150px;
}

#card_image{
    height: 60px;
    width: 70px;
}

#card_text{
    height: 40px;
    width: 70px;
    background-color: blanchedalmond;
}