nav{
    color: white;
    font-size: 30px;
    height: 100%;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.shop{
    flex:6;
    margin-left: 20px;
}

.option{
    flex:1;
    margin-right: 20px;
    text-align: center;
}