<nav>
        <ul>
            <li class="shop">SHOP</li>
            <li class="option">HOME</li>
            <li class="option">PRODUCT</li>
            <li class="option">BLOG</li>
            <li class="option">CONTACT</li>
        </ul>
</nav>
