<main>
    <div id="card"><app-card></app-card></div>
    <div id="card"><app-card></app-card></div>
    <div id="card"><app-card></app-card></div>
    <div id="card"><app-card></app-card></div>
    <div id="card"><app-card></app-card></div>
    <div id="card"><app-card></app-card></div>
    <div id="card"><app-card></app-card></div>
    <div id="card"><app-card></app-card></div>
</main>
