header{
    background-color: green;
    height: 50px;
}

#container{
    background-color: blanchedalmond;
    height: calc(100vh - 150px);
}

footer{
    background-color: green;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}